.detail {
    margin: 0 auto;
    width: 1180px;
    height: 1327px;
    /* Backround/Write */
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 180px;

    .mainScreen {
        width: 1180px;
        height: 427px;
        padding: 80px 0px;
        display: flex;
        flex-direction: column;
        gap: 40px;



        .H {
            display: flex;
            align-items: center;
            gap: 23px;

            img {
                width: 27.98px;
                height: 22px;
            }

            h2 {
                /* Title/32 Bold */
                color: rgb(0, 0, 0);
                font-family: Jost;
                font-size: 32px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0px;
            }
        }


        .mainInfo {
            width: 1180px;
            height: 347px;
            display: flex;
            gap: 32px;

            .info {
                width: 567px;
                height: 360px;
                border-radius: 24px;

                /* Brand/Black */
                background: rgb(45, 45, 45);
                padding: 31px 30px;
                display: flex;
                flex-direction: column;


                .курс {
                    display: flex;
                    justify-content: space-between;

                    h3 {
                        /* Subtitle/18 Bold */
                        color: rgb(255, 255, 255);
                        font-family: Jost;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 22px;
                        letter-spacing: 0px;
                    }

                    .ration {
                        display: flex;
                        gap: 15px;

                        p {
                            /* Body/14 Medium */
                            color: rgb(207, 207, 207);
                            font-family: Jost;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 22px;
                            letter-spacing: 0px;
                        }

                        div {
                            display: flex;
                            gap: 5px;

                            p {
                                /* Subtitle/18 Bold */
                                color: rgb(255, 255, 255);
                                font-family: Jost;
                                font-size: 18px;
                                font-weight: 700;
                                line-height: 22px;
                                letter-spacing: 0px;
                            }

                            img {
                                width: 20px;
                                height: 19px;
                            }
                        }
                    }
                }

                .mentor {
                    padding-top: 36px;
                    display: flex;
                    justify-content: space-between;

                    h3 {
                        /* Subtitle/18 Bold */
                        color: rgb(255, 255, 255);
                        font-family: Jost;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 22px;
                        letter-spacing: 0px;
                    }

                    .ration {
                        display: flex;
                        align-items: center;
                        gap: 15px;

                        p {
                            /* Subtitle/16 Semi Bold */
                            color: rgb(255, 255, 255);
                            font-family: Jost;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 120%;
                            letter-spacing: 0px;
                        }

                        .avatar {
                            width: 36px;
                            height: 36px;
                        }

                        div {
                            display: flex;
                            gap: 5px;

                            p {
                                /* Subtitle/18 Bold */
                                color: rgb(255, 255, 255);
                                font-family: Jost;
                                font-size: 18px;
                                font-weight: 700;
                                line-height: 22px;
                                letter-spacing: 0px;
                            }

                            img {
                                width: 20px;
                                height: 19px;
                            }
                        }
                    }
                }

                .price {
                    padding-top: 38px;
                    display: flex;
                    justify-content: space-between;

                    h3 {
                        /* Subtitle/18 Bold */
                        color: rgb(255, 255, 255);
                        font-family: Jost;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 22px;
                        letter-spacing: 0px;
                    }

                    p {
                        color: rgb(255, 255, 255);
                        font-family: Jost;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 120%;
                        letter-spacing: 0px;
                    }
                }

                .data {
                    padding-top: 31px;
                    display: flex;
                    justify-content: space-between;

                    h4 {
                        /* Body/14 Medium */
                        color: rgb(207, 207, 207);
                        font-family: Jost;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 22px;
                        letter-spacing: 0px;
                    }

                    div {
                        display: flex;
                        gap: 16px;

                        p {
                            /* Body/14 Medium */
                            color: rgb(207, 207, 207);
                            font-family: Jost;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 22px;
                            letter-spacing: 0px;
                        }
                    }
                }

                .btns {
                    padding-top: 28px;
                    display: flex;
                    gap: 16px;

                    button {
                        width: 427px;
                        height: 64px;
                        border-radius: 24px;

                        /* 1 */
                        box-shadow: 0px 10px 32px -4px rgba(24, 39, 75, 0.1), 0px 6px 14px -6px rgba(24, 39, 75, 0.12);
                        /* Secondary/Write */
                        background: rgb(250, 250, 250);
                        /* Subtitle/20 Bold */
                        color: rgb(0, 0, 0);
                        font-family: Jost;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;
                        letter-spacing: 0px;
                        text-align: center;
                    }

                    .delete {
                        width: 64px;
                        height: 64px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 31px;

                        /* Secondary/Write */
                        background: rgb(250, 250, 250);

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }


            }

            .video {
                box-sizing: border-box;
                /* Secondary/Yellow */
                border: 1px solid rgb(255, 224, 203);
                border-radius: 24px;
                width: 581px;
                height: 362px;

                img {
                    width: 581px;
                    height: 360px;
                }
            }
        }
    }

    .about-product {
        display: flex;
        gap: 60px;
        width: 1280px;
        height: 606px;
        /* Backround/Write */
        background: rgb(255, 255, 255);

        .container-left {
            width: 545px;
            height: 496px;
            display: flex;
            flex-direction: column;
            gap: 40px;


            .what-study {
                width: 545px;
                height: 286px;
                display: flex;
                flex-direction: column;
                gap: 30px;

                h3 {
                    /* Subtitle/20 Bold */
                    color: rgb(0, 0, 0);
                    font-family: Jost;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0px;
                }

                ul {
                    list-style-type: disc;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding-left: 30px;

                    li {
                        /* Body/16 Regular */
                        color: rgb(0, 0, 0);
                        font-family: Jost;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0px;
                    }
                }
            }

            .for-whom {
                display: flex;
                flex-direction: column;
                gap: 30px;

                h3 {
                    color: rgb(0, 0, 0);
                    font-family: Jost;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0px;
                }

                .chips {
                    width: 545px;
                    height: 116px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;



                    span {
                        /* Body/16 Medium */
                        color: rgb(0, 0, 0);
                        font-family: Jost;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0px;
                    }

                    .btn1 {
                        width: 126px;
                        height: 48px;
                        box-sizing: border-box;
                        /* Brand/Black */
                        border: 1px solid rgb(45, 45, 45);
                        border-radius: 16px;

                    }

                    .btn2 {
                        width: 263px;
                        height: 48px;
                        box-sizing: border-box;
                        /* Secondary/Blackcherry */
                        border: 1px solid rgb(35, 175, 206);
                        border-radius: 16px;

                    }

                    .btn3 {
                        box-sizing: border-box;
                        /* Brand/Green */
                        border: 1px solid rgb(255, 208, 44);
                        border-radius: 16px;
                        width: 207px;
                        height: 48px;
                    }

                    .btn4 {
                        width: 207px;
                        height: 48px;
                        box-sizing: border-box;
                        /* Secondary/Pink */
                        border: 1px solid rgb(226, 219, 250);
                        border-radius: 16px;

                    }
                }
            }
        }


        .container-right {
            width: 575px;
            height: 526px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            .text {
                display: none;
            }

            .p {
                display: none;
            }


            .data {
                display: flex;
                gap: 30px;
                flex-direction: column;

                width: 575px;
                height: 156px;

                h3 {
                    /* Subtitle/20 Bold */
                    color: rgb(0, 0, 0);
                    font-family: Jost;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0px;
                }

                .info-list {
                    display: flex;
                    gap: 20px;

                    p {
                        /* Body/16 Regular */
                        color: rgb(111, 109, 115);
                        font-family: Jost;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0px;
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 175px;
                    height: 48px;
                    border-radius: 12px;

                    /* Brand/Green */
                    background: rgb(255, 208, 44);
                    /* Subtitle/16 Semi Bold */
                    color: rgb(0, 0, 0);
                    font-family: Jost;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 120%;
                    letter-spacing: 0px;



                    img {
                        padding-bottom: 1px;
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .description {
                display: flex;
                flex-direction: column;
                gap: 20px;


                h3 {
                    /* Subtitle/18 Bold */
                    color: rgb(0, 0, 0);
                    font-family: Jost;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 22px;
                    letter-spacing: 0px;
                }

                p {
                    /* Body/16 Regular */
                    color: rgb(0, 0, 0);
                    font-family: Jost;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 980px) {
    .detail {
        width: 768px;
        height: 2640px;
        background: rgb(255, 255, 255);

        .mainScreen {
            padding: 0 35px;

            .H {
                display: flex;
                align-items: center;
                gap: 23px;

                img {
                    width: 20.84px;
                    height: 17.6px;
                }

                h2 {
                    font-size: 24px;
                }
            }


            .mainInfo {
                display: flex;
                flex-direction: column;



                .info {
                    order: 2;
                    width: 728px;
                    height: 315px;


                    .курс {
                        display: flex;
                        justify-content: space-between;

                        h3 {
                            /* Subtitle/18 Bold */
                            color: rgb(255, 255, 255);
                            font-family: Jost;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 22px;
                            letter-spacing: 0px;
                        }

                        .ration {
                            display: flex;
                            gap: 15px;

                            p {
                                /* Body/14 Medium */
                                color: rgb(207, 207, 207);
                                font-family: Jost;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 22px;
                                letter-spacing: 0px;
                            }

                            div {
                                display: flex;
                                gap: 5px;

                                p {
                                    /* Subtitle/18 Bold */
                                    color: rgb(255, 255, 255);
                                    font-family: Jost;
                                    font-size: 18px;
                                    font-weight: 700;
                                    line-height: 22px;
                                    letter-spacing: 0px;
                                }

                                img {
                                    width: 20px;
                                    height: 19px;
                                }
                            }
                        }
                    }

                    .mentor {
                        padding-top: 28px;
                        display: flex;
                        justify-content: space-between;

                        h3 {
                            /* Subtitle/18 Bold */
                            color: rgb(255, 255, 255);
                            font-family: Jost;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 22px;
                            letter-spacing: 0px;
                        }

                        .ration {
                            display: flex;
                            align-items: center;
                            gap: 15px;

                            p {
                                /* Subtitle/16 Semi Bold */
                                color: rgb(255, 255, 255);
                                font-family: Jost;
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 120%;
                                letter-spacing: 0px;
                            }

                            .avatar {
                                width: 36px;
                                height: 36px;
                            }

                            div {
                                display: flex;
                                gap: 5px;

                                p {
                                    /* Subtitle/18 Bold */
                                    color: rgb(255, 255, 255);
                                    font-family: Jost;
                                    font-size: 18px;
                                    font-weight: 700;
                                    line-height: 22px;
                                    letter-spacing: 0px;
                                }

                                img {
                                    width: 20px;
                                    height: 19px;
                                }
                            }
                        }
                    }

                    .price {
                        padding-top: 30px;
                        display: flex;
                        justify-content: space-between;

                        h3 {
                            /* Subtitle/18 Bold */
                            color: rgb(255, 255, 255);
                            font-family: Jost;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 22px;
                            letter-spacing: 0px;
                        }

                        p {
                            color: rgb(255, 255, 255);
                            font-family: Jost;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 120%;
                            letter-spacing: 0px;
                        }
                    }

                    .data {
                        padding-top: 23px;
                        display: flex;
                        justify-content: space-between;

                        h4 {
                            /* Body/14 Medium */
                            color: rgb(207, 207, 207);
                            font-family: Jost;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 22px;
                            letter-spacing: 0px;
                        }

                        div {
                            display: flex;
                            gap: 16px;

                            p {
                                /* Body/14 Medium */
                                color: rgb(207, 207, 207);
                                font-family: Jost;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 22px;
                                letter-spacing: 0px;
                            }
                        }
                    }

                    .btns {
                        padding-top: 20px;
                        display: flex;
                        justify-content: end;
                        gap: 16px;

                        button {
                            width: 427px;
                            height: 64px;
                            border-radius: 24px;

                            /* 1 */
                            box-shadow: 0px 10px 32px -4px rgba(24, 39, 75, 0.1), 0px 6px 14px -6px rgba(24, 39, 75, 0.12);
                            /* Secondary/Write */
                            background: rgb(250, 250, 250);
                            /* Subtitle/20 Bold */
                            color: rgb(0, 0, 0);
                            font-family: Jost;
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: 0px;
                            text-align: center;
                        }

                        .delete {
                            width: 64px;
                            height: 64px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 31px;

                            /* Secondary/Write */
                            background: rgb(250, 250, 250);

                            img {
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }


                }


                .video {
                    order: 1;
                    box-sizing: border-box;
                    border: 1px solid rgb(255, 224, 203);
                    border-radius: 24px;
                    background: rgb(255, 205, 102);

                    width: 728px;
                    height: 380px;

                    img {
                        width: 728px;
                        height: 380px;
                    }
                }
            }



        }

        .about-product {
            padding: 0 35px;
            display: flex;
            flex-direction: column;
            gap: 140px;
            width: 1280px;
            height: 606px;
            /* Backround/Write */
            background: rgb(255, 255, 255);

            .container-left {
                order: 2;
                width: 545px;
                height: 496px;
                display: flex;
                flex-direction: column;
                gap: 40px;


                .what-study {
                    width: 545px;
                    height: 286px;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    h3 {
                        /* Subtitle/20 Bold */
                        color: rgb(0, 0, 0);
                        font-family: Jost;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;
                        letter-spacing: 0px;
                    }

                    ul {
                        list-style-type: disc;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding-left: 30px;

                        li {
                            /* Body/16 Regular */
                            color: rgb(0, 0, 0);
                            font-family: Jost;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0px;
                        }
                    }
                }

                .for-whom {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    h3 {
                        color: rgb(0, 0, 0);
                        font-family: Jost;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;
                        letter-spacing: 0px;
                    }

                    .chips {
                        width: 728px;
                        height: 116px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 20px;



                        span {
                            /* Body/16 Medium */
                            color: rgb(0, 0, 0);
                            font-family: Jost;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 24px;
                            letter-spacing: 0px;
                        }

                        .btn1 {
                            width: 126px;
                            height: 48px;
                            box-sizing: border-box;
                            /* Brand/Black */
                            border: 1px solid rgb(45, 45, 45);
                            border-radius: 16px;

                        }

                        .btn2 {
                            width: 263px;
                            height: 48px;
                            box-sizing: border-box;
                            /* Secondary/Blackcherry */
                            border: 1px solid rgb(35, 175, 206);
                            border-radius: 16px;

                        }

                        .btn3 {
                            box-sizing: border-box;
                            /* Brand/Green */
                            border: 1px solid rgb(255, 208, 44);
                            border-radius: 16px;
                            width: 207px;
                            height: 48px;
                        }

                        .btn4 {
                            width: 207px;
                            height: 48px;
                            box-sizing: border-box;
                            /* Secondary/Pink */
                            border: 1px solid rgb(226, 219, 250);
                            border-radius: 16px;

                        }
                    }
                }
            }


            .container-right {
                width: 728px;
                height: 426px;
                display: flex;
                flex-direction: column;
                gap: 40px;
                padding-top: 60px;

                .text {
                    display: block;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;


                    h3 {
                        /* Subtitle/20 Bold */
                        color: rgb(0, 0, 0);
                        font-family: Jost;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;
                        letter-spacing: 0px;
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 175px;
                        height: 48px;
                        border-radius: 12px;

                        /* Brand/Green */
                        background: rgb(255, 208, 44);
                        /* Subtitle/16 Semi Bold */
                        color: rgb(0, 0, 0);
                        font-family: Jost;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 120%;
                        letter-spacing: 0px;



                        img {
                            padding-bottom: 1px;
                            width: 24px;
                            height: 24px;
                        }
                    }
                }


                .p {
                    display: block;
                      display: flex;
                    gap: 20px;
                    padding-top: 22px;

                    p {
                        /* Body/16 Regular */
                        color: rgb(111, 109, 115);
                        font-family: Jost;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0px;
                    }
                }


                .data {
                    display: none;
                    gap: 30px;
                    flex-direction: column;

                    width: 575px;
                    height: 156px;

                    h3 {
                        /* Subtitle/20 Bold */
                        color: rgb(0, 0, 0);
                        font-family: Jost;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;
                        letter-spacing: 0px;
                    }

                    .info-list {
                        display: flex;
                        gap: 20px;

                        p {
                            /* Body/16 Regular */
                            color: rgb(111, 109, 115);
                            font-family: Jost;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0px;
                        }
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 175px;
                        height: 48px;
                        border-radius: 12px;

                        /* Brand/Green */
                        background: rgb(255, 208, 44);
                        /* Subtitle/16 Semi Bold */
                        color: rgb(0, 0, 0);
                        font-family: Jost;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 120%;
                        letter-spacing: 0px;



                        img {
                            padding-bottom: 1px;
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                .description {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;


                    h3 {
                        /* Subtitle/18 Bold */
                        color: rgb(0, 0, 0);
                        font-family: Jost;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 22px;
                        letter-spacing: 0px;
                    }

                    p {
                        /* Body/16 Regular */
                        color: rgb(0, 0, 0);
                        font-family: Jost;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0px;
                    }
                }
            }
        }
    }
}