.cardd-btn{
    border: 2px solid #FFE0CB;
}
.card-btn{
    border: 2px  solid #E2DBFA;
}
.card-btn1{
    border: 2px solid #E1F3FF;
}
.card-btn2{
    border: 2px  solid  #FFE0CB;
}
.card-btn3{
    border: 2px  solid #D5F6ED;
}
.hero-btn{
    background-color: black;
    color: white;
}