.cardd-btn{
    border: 2px solid #FFE0CB;
}
.hero-btn{
    background-color: black;
    color: white;
}
.cards-6{
    overflow-x: scroll;
    .cards-6-item{
        gap: 20px;
        width: 1300px;
        display: flex;
    }
}
.cards-6::-webkit-scrollbar{
    width: 0px;
}
