.datacourse {
    margin: 0 auto;
    width: 1280px;
    height: 1024px;
    padding: 0 50px;



    .new {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .h {
            display: flex;
            gap: 20px;

            p {
                /* Title/32 Bold */
                color: rgb(0, 0, 0);
                font-family: Jost;
                font-size: 32px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0px;

            }


            img {
                width: 40px;
                height: 40px;

            }
        }

        .hBtn {
            display: flex;
            gap: 20px;

            .i {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 54px;
                height: 54px;
                border-radius: 20px;

                /* 1 */
                box-shadow: 0px 10px 32px -4px rgba(24, 39, 75, 0.1), 0px 6px 14px -6px rgba(24, 39, 75, 0.12);
                /* Brand/Green */
                background: rgb(255, 208, 44);
            }


            .b {
                border-radius: 20px;

                /* 1 */
                box-shadow: 0px 10px 32px -4px rgba(24, 39, 75, 0.1), 0px 6px 14px -6px rgba(24, 39, 75, 0.12);
                /* Brand/Green */
                background: rgb(255, 208, 44);
                width: 214px;
                height: 54px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 36px;
                /* Subtitle/16 Bold */
                color: rgb(0, 0, 0);
                font-family: Mulish;
                font-size: 16px;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 0px;
                text-align: center;
                padding-left: 80px;
            }


            img {
                object-fit: cover;
                width: 44px;
                height: 44px;
            }
        }
    }

    .newdata {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        h2 {
            /* Subtitle/20 Bold */
            color: rgb(0, 0, 0);
            font-family: Jost;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0px;
        }


        .category {
            display: flex;
            gap: 20px;

            button {
                width: 380px;
                height: 54px;
                border-radius: 20px;

                /* Secondary/Write */
                background: rgb(250, 250, 250);
                /* Subtitle/18 Bold */
                color: rgb(0, 0, 0);
                font-family: Jost;
                font-size: 18px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 0px;
                text-align: center;
            }
        }


        .list-input {
            display: flex;
            flex-direction: column;
            gap: 20px;

            div {
                display: flex;
                flex-direction: column;
                gap: 16px;

                h3 {
                    /* Subtitle/18 Semi Bold */
                    color: rgb(0, 0, 0);
                    font-family: Jost;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 22px;
                    letter-spacing: 0px;
                }

                textarea {
                    width: 1180px;
                    height: 128px;
                    box-sizing: border-box;
                    /* Text/Gray */
                    border: 1px solid rgb(207, 207, 207);
                    border-radius: 12px;

                    /* Secondary/Write */
                    background: rgb(250, 250, 250);
                    border: none;
                    outline: none;
                    resize: none;
                    color: rgb(111, 109, 115);
                    font-family: Jost;
                    font-size: 16px;
                    padding: 20px 20px;


                    &::placeholder {
                        /* Body/16 Medium */
                        color: rgb(111, 109, 115);
                        font-family: Jost;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0px;
                    }
                }
            }
        }
    }
}