.dashboard {
  display: flex;
  background-color: #0d0d0d;
  color: #fff;
  max-width: 100% !important;
  height: 100% !important;
  font-family: 'Arial', sans-serif;
  .sidebar {
    width: 240px;
    padding: 20px;
    border-right: 1px solid #2c2c2c;
    background-color: #141414;

    h3 {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .filter {
      display: flex;
      flex-direction: column;
      gap: 8px;

      label {
        font-size: 14px;
        cursor: pointer;

        input {
          margin-right: 8px;
        }
      }

      .toggle {
        margin-top: 20px;
        display: flex;
        gap: 10px;

        button {
          padding: 5px 10px;
          background: none;
          border: 1px solid #444;
          color: #fff;
          cursor: pointer;
          font-size: 13px;
          border-radius: 6px;

          &.active {
            background-color: #007aff;
            border-color: #007aff;
          }
        }
      }
    }
  }

  .main-content {
    flex: 1;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      .header-title {
        h1 {
          font-size: 48px;
          font-weight: 800;
          margin: 0;
        }

        p {
          font-size: 14px;
          color: #888;
        }
      }

      .search-bar {
        position: relative; 
        width: 465px;
        height: 64px;
        background-color: #fff;
        display: flex;
        border-radius: 20px;
        input { 
          width: 100%;
          height: 100%;
          padding: 8px 2px 8px 22px;
          border-radius: 8px;
          border: none;
          outline: none;
          font-size: 14px;
        }

        .search-icon {
          position: absolute;
          right: 20px;
          top: 50%;
          font-size: 23px;
          transform: translateY(-50%);
          color: #999;
        }
      }
    }

    .secctions {
      display: flex;
      gap: 20px;
      .summary-cards, .user-list-section {
        flex: 1;
      }
      .summary-cards{
        // width: 412px;
      }
      .user-list-section{
        // height: 808px;
        position: relative;
        // width: 700px;
      }
      .summary-card {
        height: 174px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #ffffff;
        border-radius: 12px;
        padding: 20px;
        color: #000;
        margin-bottom: 20px;
        div{
          margin-top: 30px;
          padding-right: 50px;
        }
      h1{
        font-family: Jost;
font-weight: 500;
font-size: 24px;
line-height: 24px;
letter-spacing: 0px;
        width: 100%;
      }
        h3 {
          font-size: 14px;
          color: #aaa;
          margin: 0;
          
        }

        .count {
          position: relative;
          font-size: 20px;
          font-weight: bold;
          margin: 4px 0 12px;
          font-family: Jost;
font-weight: 700;
font-size: 42px;
line-height: 58px;
letter-spacing: 0px;
          span {
            position: absolute;
            font-size: 14px;
            color: #050505;
font-family: Jost;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0px;

          }

          &.red {
            color: #ff4d4d;
          }
        }

        .divider {
          height: 1px;
          background-color: #333;
          margin: 10px 0;
        }
      }

      .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12px 0px;

        h3 {
          color: #6F6D73;
          font-size: 16px;
          font-family: Jost;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;

        }

        .count {
          font-size: 14px;
          color: #000000;
        }
      }

      .user-list {
        height: 600px;
        margin-top: -2px !important;
        width: 100%;
        height: 618px;
        background-color: #fff;
        border-radius: 16px;
        padding: 0px 20px;
        margin: 0;
       .head-list{
        padding-top: 20px !important; 
        width: 100%;
        color: #000;
        font-family: Jost;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0px;
       }
        .user-item {
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: transparent;
          border-radius: 10px;
          margin-bottom: 14px;
    color: #000;
          .user-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 14px;
          }

          .user-info {
            flex: 1;

            strong {
              display: block;
              font-size: 15px;
            }

            p {
              font-size: 12px;
              color: #888;
              margin: 2px 0;
            }
          }
          .deleted{
            display: flex;
            gap: 20px;
          }
 .status-badge {
              display: inline-block;
              margin-top: 4px;
              font-size: 13px;
              font-weight:700;
              padding: 2px 6px;
              border-radius: 6px;
              background-color: transparent;
              color: #fff;

              &.active {
                color: #28a745;
              }

              &.blocked {
               color: #dc3545;
              }

              &.deleted {
                color: #6c757d;
              }

              &.not-passed {
               color: #ffc107;
              }
            }
          .user-menu-wrapper {
            position: relative;
            .menu-button {
              background: none;
              border: none;
              color: #0b0a0a;
              cursor: pointer;
              font-size: 18px;
               
            }

            .user-actions-menu {
              position: absolute;
              top: 30px;
              right: 0;
              background-color: #2a2a2a;
              border: 1px solid #444;
              border-radius: 8px;
              overflow: hidden;
              z-index: 10;
              min-width: 160px;

              li {
                padding: 10px 12px;
                font-size: 13px;
                color: #eee;
                cursor: pointer;

                &:hover {
                  background-color: #3a3a3a;
                }

                &.delete-action {
                  color: #ff4d4d;
                }
              }
            }
          }
        }

        .no-results {
          padding: 20px;
          text-align: center;
          font-size: 14px;
          color: #888;
        }
      }
    }
  }
}
.user-stats-card {
  background-color: #fff;
  border-radius: 18px;
  padding: 20px;
  width: 410px;
  overflow-y: scroll;
  height: 810px;
  color: #000;
  font-family: 'Inter', sans-serif;
   &::-webkit-scrollbar{
    width: 0px;
   }
  .stats-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .stat-block {
      position: relative;
      h2 {
        margin-top: 10px !important;
        font-size: 22px;
        margin: 0;
        font-family: Jost;
font-weight: 700;
font-size: 32px;
line-height: 40px;
letter-spacing: 0px;
color: #000000;
        span {
          position: absolute;
          margin-left: 4px;
          font-family: Jost;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0px;

        }
      }

      p {
        font-size: 12px;
        color: #000000;
        margin-top: 4px;
        font-family: Jost;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;

      }
    }
  }

  .users-title {
    color: #6F6D73;
    font-family: Jost;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;
margin-bottom: 20px;
  }

  .user-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .user-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;

      .user-info {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-size: 14px;
        }
      }

      .user-time {
        font-size: 13px;
        color: #020101;
        font-family: Jost;
font-weight: 500;
font-size: 14px;
line-height: 22px;
letter-spacing: 0px;

      }
    }
  }
}
.pagination {
  width: 100%;
  position: absolute;
  bottom: 10px;
  padding-right: 10px;
  left: 6px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 10px;
  margin-top: 20px;
  color: #000;
  div{
    display: flex;
    gap: 30px;
    button {
      width: 40px;
      height: 40px;
      cursor: pointer;
      border-radius: 50%;
    
    }
    
    button.active {
      background-color: #007bff;
      color: white;
    }
    
    button:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4) !important;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}


