@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
/* @tailwind utilities; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    font-family: Jost;
} */
body{
    font-family: Jost;
}
.container{
    width: 1280px;
    margin: auto;
}
.adminka{
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 100%;
    /* padding: 30px; */
    margin: 0 auto;
    background-color: black;
}
.adminka{
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 100%;
    padding: 30px;
    margin: 0 auto;
    background-color: black;
}
  
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.font-jost {
  font-family: 'Jost', sans-serif;
}
.hero-btn {
    background-color: black;
   }
